<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SmartPick</title>

    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicon/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon/favicon-16x16.png}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/libs/owl.carousel/dist/assets/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/libs/owl.carousel/dist/assets/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/libs/simplebar/dist/simplebar.min.css}">
    <noscript>
        <style>
            .simplebar-content-wrapper { scrollbar-width: auto; -ms-overflow-style: auto; }
            .simplebar-content-wrapper::-webkit-scrollbar, .simplebar-hide-scrollbar::-webkit-scrollbar { display: initial; width: initial; height: initial; }
        </style>
    </noscript>

    <link rel="stylesheet" th:href="@{/libs/jarallax/dist/jarallax.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
    <link id="templateColorScheme" rel="stylesheet" th:href="@{/css/color-schemes/tc_red.css}">
    <link rel="stylesheet" th:href="@{/css/preloader.css}">

    <script th:src="@{/js/preloader.js}"></script>
</head>

<body>

<div class="preloader">
    <div class="loader">
        <div class="loader-inner ball-scale-multiple">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<header th:replace="~{fragments/header :: main-header}"></header>

<main>




</main>

<footer th:replace="~{fragments/footer :: main-footer}"></footer>

<script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/libs/jquery-lazy/jquery.lazy.min.js}"></script>
<script th:src="@{/libs/simplebar/dist/simplebar.min.js}"></script>
<script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/libs/jarallax/dist/jarallax.min.js}"></script>
<script th:src="@{/libs/fly-to/dist/js/fly-to.min.js}"></script>
<script th:src="@{/js/script.min.js}"></script>

</body>
</html>